h1,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a {
    color: white;
}

h2 a:visited,
h3 a:visited,
h4 a:visited {
    color: grey;
}

header a {
    color: black;
}

.lima {
    background-image: url("https://i.imgur.com/HtR97hw.jpg");
    cursor: url('curs.cur'), progress !important;
}

header pre {
    margin: 10px 50px 10px 50px;
}

.credit_container {
    position: relative;
    width: 50%;
}

#bottom_img {
    height: 700px;
}

#card_title,
#lima_trailer_title {
    font-size: 200%;
}

#cards {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    margin: 0px 5px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

#descrip {
    background-color: #654321;
    padding: 50px 100px;
    color: white;
    font-size: 200%;
    text-align: justify;
}

#donate {
    margin: 0px 0px 5px 0px;
}

#donate_img {
    height: 200px;
}

#donate_text {
    font-size: 175%;
}

#fund_container {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    overflow: hidden;
    padding: 5px;
    margin: 50px 50px;
}

#fund_l {
    float: left;
    width: 66%;
}

#fund_r {
    float: left;
    background-color: white;
}

#funder_list {
    column-count: 2;
    text-align: center;
    margin-bottom: 20px;
}

#lima_header {
    margin: 0 0 0 0;
    width: 100%;
}

#lima_poster {
    margin: 50px 0;
    width: 50%;
}

@media screen and (max-width: 700px) {

    header pre {
        font-size: 7pt;
        margin: 100px 0px 10px;
        min-width: 0;
    }

}

@media screen and (max-width: 500px) {
    header pre {
        font-size: 5pt;
        margin: 100px 0px 10px;
    }

}