.butvi_title {
    background-image: url("https://i.imgur.com/HtR97hw.jpg");
    color: black;
    font-size: 400%;
    margin: 100px;
}

.butvi_title p {
    background-color: white;
    margin: 5px;
}

.lima_1ed {
    background-image: url("https://i.imgur.com/HtR97hw.jpg");
    background-position: center;
    background-repeat: repeat;
    cursor: url('curs.cur'), progress !important;
}

.warren {
    background-position: center;
    background-color: black;
    background-image: url("https://i.imgur.com/RYYUl86.gif");
    background-repeat: repeat;
    background-size: 5%;
    height: 100%;
    width: 100%;
    cursor: url('curs.cur'), progress !important;
}

.warrenshowz {
    margin: 100px 0px;
}

.warrenshowz p {
    font-size: 400%;
    background-color: white;
}

.warrenshowz img {
    padding: 5px;
    border: 10px solid;
    border-color: white;
    width: 100%;
    max-width: 900px;
}



/* cv formatting */

.cv_header {
    font-size: 150%;
    padding: 20px;
}

.cv_list {
    padding: 25px;
}

.cv_4_cols {
    float: left;
    width: 25%;
}

.cv_item:after {
    content: "";
    display: table;
    clear: both;
}

.cv_4_cols:nth-child(2),
.cv_4_cols:nth-child(3) {
    text-align: center;
}

.cv_4_cols:last-child {
    text-align: right;
}

@media only screen and (max-device-width: 700px) {
    #bottom_img {
        height: 750px;
    }

    #card_title,
    #lima_trailer_title {
        font-size: 400%;
    }

    #descrip {
        padding: 0 60px;
        font-size: 350%;
    }

    #donate_text {
        font-size: 300%;
    }

    #lima_header {
        margin: 50px 10px 0 10px;
        width: 95%;
    }

    #lima_poster {
        width: 95%;
    }
}